/* * {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
  } */

.navbar {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    height: 64px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
  }
  
  .navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 60px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.4rem;
  }
  
  .fa-firstdraft {
    margin-left: 0.5rem;
    font-size: 1.6rem;
  }
  
  .search-bar {
    margin-left: 140px;
    width: 80px;
    border-radius: 80px;
  }
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 4rem;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    height: 80px;
  }
  
  .nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  .nav-links:hover {
    background-color: #0e60b7;
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #2422222d;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      background-color: #0e60b7;
      border-radius: 0;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
    .nav-links-mobile {
      display: block;
      text-align: center;
      padding: 1rem;
      margin-top: 2rem;
      border-radius: 4px;
      width: 40%;
      color: #fff;
      font-size: 1.5rem;
    }
  
    .nav-links-mobile:hover {
      background: #fff;
      color: #0e60b7;
      transition: 250ms;
    }
  }
  .cat-1{
    height: 30px;
    font-size:16px;
    /* color:white;
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%); */
  }
  .home {
    display: flex;
    font-size: large;
    margin-right: 10px;
    margin-top: 4px;
  }
  .img1 {
    height:500px;
    width: 540px;
    border-radius:50%;
    margin-top: 24px;
    margin-bottom: 20px;
    margin-left: 10px;
  
  }
  
  .text-area {
    margin-left:54%;
    margin-top: -42%;
    font-size:28px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .text {
    font-size:18px;
    margin-left:0;
    margin-right:30%;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  .img-section {
    /* background-color: #bcd8e4; */
  background-color: rgba(172, 213, 231, 0.751);
  }
  
  .home-search {
    margin-left:48%;
    margin-top: 8px;
    color: black;
  }
  a{
    text-decoration: none;
  }
  .search-icon2 {
    font-size: 28px;
    margin-right: 10px;
    margin-left:0%;
  }
  .searching {
    /* margin-top:-40%; */
    width:500px;
    height:30px;
    border-radius: 40px;
    text-align: left;
    border: 2px solid black;
  }
  
  button a {
    margin-top: 10px;
    margin-left:2px;
  }
  
  .home-page {
    height: 840px;
  }
  span {
    color: #0e60b7f6;
  }
  .my-content {
    margin-top: 16%;
    margin-left: 40px;
    font-size: 30px;
    text-align: center;
  }
  p {
    font-size: 20px;
    margin-top: 0;
  }
  
  .categories {
    border: 2px solid black;
    text-align: center;
    background-color: rgba(165, 165, 165, 0.37);
  }
  .web {
    margin-left: 10px;
    text-align: center;
  }
  .web img {
    height: 220px;
    width: 280px;
    /* margin-top: 10px; */
  }
  .text {
    text-align: center;
    margin-top: 4px;
    color: black;
    text-decoration: none;
  }
  
  .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    margin: 30px;
    padding: 16px;
    font-size: 20px;
    text-align:center;
    text-decoration: none;
    height: 260px;
  }
 
  body{
    background-color: #eee;
  }
  .heading {
    color: #313131;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 10px;
  }
  
  .container {
    display: grid;
    margin-top:20px;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
  }
  .container .main-video {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
  }
  .container .main-video iframe {
    width: 100%;
    border-radius: 5px;
  }
  .container .main-video .title {
    color: #333;
    font-size: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .container .video-list {
    background-color: #fff;
    border-radius: 5px;
    height: 520px;
    overflow-y: scroll;
  }
  .container .video-list::-webkit-scrollbar {
    width: 7px;
  }
  
  .container .video-list::-webkit-scrollbar-track {
    background-color: #ccc;
    border-radius: 50px;
  }
  .container .video-list::-webkit-scrollbar-thumb {
    background-color: #666;
    border-radius: 50px;
  }
  
  .container .video-list .vid iframe {
    width: 100px;
    border-radius: 5px;
  }
  
  .container .video-list .vid{
      display:flex;
      align-items: center;
      gap:15px;
      background-color: #e7e2e2a0;
      border-radius: 5px;
      margin:10px;
      padding:10px;
      border:1px solid rgba(0,0,0,0.1);
      cursor:pointer;
  }
  .container .video-list .vid:hover{
      background: #eee;
  }
  .container .video-list .vid.active{
      background-color: #2190c4;
      transition: 0.5s ease;
  }
  
  .container .video-list .vid.active .title{
      color:#fff;
  }
  
  .container .video-list .vid .title{
      color:#333;
      font-size: 17px;
  }
  
  @media(max-width:991px){
      .container {
          grid-template-columns: 1.5fr 1fr;
          padding:10px;
        }
  }
  
  @media(max-width:768px){
      .container{
          grid-template-columns: 1fr;
      }
  }  